<div class="body d-flex flex-column placeholder-glow position-relative">
  <nav class="d-flex flex-column align-items-center pt-3 pb-5 position-relative">
    <h1 class="text-center mb-3">IP Address Tracker</h1>
    <form class="input-wrapper text-center d-flex justify-content-center border-0 overflow-hidden">
      <input [(ngModel)]="ipAddress" [ngModelOptions]="{standalone: true}" class="px-3 py-2" type="text" placeholder="Search for any IP Address or Domain">
      <button (click)="onSubmit()" type="submit" class="btn rounded-0 d-flex justify-content-center align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14"><path fill="none" stroke="#FFF" stroke-width="3" d="M2 1l6 6-6 6"/></svg>
      </button>
    </form>
    <div class="row bg-white position-absolute info rounded p-3">
      <div class="col-lg-3 col-md-12 px-3 mb-3 mb-lg-0 fw-bold">
        <p>IP Address</p>
        <h2> {{ ip }} </h2>
      </div>
      <div class="col-lg-3 col-md-12 px-3 mb-3 mb-lg-0 fw-bold">
        <p>Location</p>
        <h2> {{ location }} </h2>
      </div>
      <div class="col-lg-3 col-md-12 px-3 mb-3 mb-lg-0 fw-bold">
        <p>Timezone</p>
        <h2> {{ timezone }} </h2>
      </div>
      <div class="col-lg-3 col-md-12 px-3 fw-bold">
        <p>Isp</p>
        <h2> {{ isp }} </h2>
      </div>
    </div>
  </nav>
  <main id="map" class="h-100" [ngClass]="{'placeholder': submiting}"></main>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <div *ngIf="error" class="alert alert-danger position-absolute text-center p-3 m-1" role="alert">
    {{ errorMssg }}
  </div>
</div>
