*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  border: 0;
}

.fw-bold {
    font-weight: 700;
}

.fw-medium {
    font-weight: 500;
}

.fw-light {
    font-weight: 400;
}
